@charset "UTF-8";



.fix-height {
    height: 260px;
}

.black-border-box {
    border: 3.5px solid black;
    border-radius: 10px;
    background-color: white;
    height: 100%; 
    overflow: hidden;
    transition: transform 0.2s;
}

.black-border-box:hover {
    transform: translateY(-5px);
}

.shortcut-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.recommend-box {
    border: 3.5px solid black;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    height: 98%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding: 15px 5px 5px; 
}


.recommend-inner {
    width: 100%;
    padding: 0 5px 10px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    height: 100%; 
}


.reco-title {
    font-size: 2.3rem; 
    font-weight: 900; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    color: #333;
    text-align: center; 
    flex-shrink: 0;
}

.recommend-inner .row {
    margin-top: 15px !important; 
    width: 100%;
}

.food-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.food-country {
    font-size: 0.9rem;
    color: #D9534F;
    font-weight: bold;
    margin-left: 5px;
}


.country-title {
    font-size: 1.8rem; 
    font-weight: 800;
    margin-top: 30px; 
    margin-bottom: 30px;
    text-align: left;
    font-weight: bold; 
}


.country-box {
    border: 2px solid black; 
    border-radius: 10px;
    background-color: white;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 800;
    color: #333; 
    cursor: pointer;
    transition: transform 0.2s;
}

.country-box:hover {
    transform: translateY(-5px);
    background-color: #f8f9fa;
}